.login-image {
  margin-top: -195px;
  height: 408px;
}
.mypage-header h1 {
  font-size: 40px;
}
.marquee-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.table-bordered.customised-table > tbody > tr > td,
.table-bordered.customised-table > tbody > tr > th,
.table-bordered.customised-table > tfoot > tr > td,
.table-bordered.customised-table > tfoot > tr > th,
.table-bordered.customised-table > thead > tr > td,
.table-bordered.customised-table > thead > tr > th {
  border: 2px solid #fff;
}
.homepage-content {
  font-size: 16px;
}
.homepage-content .about-us .bigger-text {
  margin-top: 85px;
}
.homepage-content .about-us p {
  margin-bottom: 30px;
  margin-top: 15px;
}
