
    .sub-header-contents,
    .sub-footer-contents {
      flex-wrap: wrap;
      justify-content: center;
    }
    .sub-footer-contents a {
      flex-basis: 100%;
      text-align: center;
    }
    .social-links {
      text-align: center;
    }
    .newsboard-wrapper {
      margin-bottom: 30px;
    }

    
    .top-banner {
      height: 250.8px;
  }

  .mob-text-center {text-align: center;}