@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Source_Sans_Pro/SourceSansPro-Light.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Light.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Light.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 700;
}

body {
  font-family: SourceSansPro, sans-serif;
  font-weight: 400;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.btn {
  border-radius: 0;
  /* font-size: 13px; */
  /* font-weight: 600; */
  /* height: 36px; */
  /* opacity: 0.85; */
  /* text-transform: uppercase; */
  /* padding: 8px 20px; */
  padding-left: 20px;
  padding-right: 20px;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}
.form-control:focus {
  box-shadow: none;
}
textarea {
  resize: none;
}
.btn.btn-lg {
  /* font-size: 20px; */
  /* padding: 8px 30px; */
  padding-left: 40px;
  padding-right: 40px;
}
.text-primary {
  color: #2e3192;
}
.btn-primary {
  background-color: #2e3192;
  border-color: #2e3192;
  /* background-image: linear-gradient(to right, #3135a4, #373cc6); */
}

.d-flex {
  display: flex;
}
.btn-danger {
  background-color: #c10a42;
}

.sub-header,
.sub-footer {
  padding: 26px 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #2e3192;
  /* opacity: 0.85; */
}

/* .sub-header-contents, */
.sub-footer-contents {
  display: flex;
  justify-content: space-around;
}
.sub-header-contents a {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  color: #fff;
}
.sub-header-contents .col-md-2 {
  text-align: center;
}

.navbar-default {
  background-color: #f7f7f7;
  margin-bottom: 0;
  border: 0;
}
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  line-height: 1.28;
  color: #191919;
}

.mypage-header {
  background-color: #eff4ff;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #2e3192;
  opacity: 0.85;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
}
.breadcrumb > li > a {
  color: inherit;
}
.mypage-header h1 {
  line-height: 1.25;
  color: inherit;
}
hr.short {
  border-width: 6px;
  width: 100px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.short.orange {
  border-color: orange;
}

.sub-footer {
  background-color: #e0f9ff;
  box-shadow: none;
}
.sub-footer-contents a {
  font-size: 15px;
  font-weight: 600;
  line-height: 2.1;
  letter-spacing: 0.9px;
  color: #000000;
  text-transform: uppercase;
}

footer {
  background-color: #eff4ff;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #000;
}

footer h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer p,
footer li {
  font-size: 13px;
  line-height: 1.31;
}
footer li {
  margin-bottom: 10px;
}
footer li > a {
  color: #000000;
}

footer .form-control {
  border-color: #fff;
}

footer .btn-primary {
  min-width: 151px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to left, #373cc8, #3034a0);
  font-size: 18px;
  /* padding: 0; */
  background-color: transparent;
  border-color: transparent;
  opacity: 0.85;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 4px;
  padding-bottom: 4px;
}

.login-buttons .btn-primary {
  /* background-color: #2e3192;
  width: 80px; */
  margin-right: 10px;
}

.copyright {
  padding: 10px;
  text-align: center;
  background-color: #fcfcfc;
  font-size: 13px;
}

.social-links > a {
  width: 24px;
  height: 24px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  padding-top: 3px;
  margin-right: 4px;
}

/* @media (min-width: 991px) { */
.logo {
  position: absolute;
  top: -52px;
  width: 100px;
}
/* } */

.description-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  background-color: #fff;
}
.description-row {
  display: flex;
  margin-bottom: 1px;
  /* height: 42px; */
  /* align-items: center; */
}
.description-row > div {
  padding-left: 8px;
}
.description-row > .description-title {
  flex-basis: 33%;
}
.description-row > .description-value {
  flex-basis: 66%;
}
.description-title {
  background-color: #f1f1f1;
  padding: 10px 10px 11.5px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 1.25;
}
.description-value {
  padding: 10px 10px 11.5px;
}
.description-value .subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 1.25;
  flex-basis: 50%;
}
.description-row.has-image {
  height: auto;
}
.description-row.has-image > img {
  width: 121px;
  height: 125.3px;
  padding: 5px;
}
.description-row.has-image .description-title {
  background-color: transparent;
}

.sidebar.list-group .list-group-item {
  padding: 0;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border: 0;
  border-radius: 0;
}
.list-group-item > a {
  padding: 15px;
  width: 100%;
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 1.28;
  font-weight: 400;
}
.list-group-item > a .sub-text {
  display: block;
  font-size: 0.75em;
}
.sidebar.list-group .list-group-item.active {
  border-right: 5px solid orange;
  color: #000;
  /* box-shadow: 0px 1px 4px #aaa; */
  /* border-bottom: 1px solid #aaa; */
}
/* .sidebar.list-group .list-group-item.active a {font-weight: 600;} */
.content h1 {
  color: #2e3192;
  margin: 0;
  /* font-size: 40px; */
}
.table-bordered.customised-table > tbody > tr > td,
.table-bordered.customised-table > tbody > tr > th,
.table-bordered.customised-table > tfoot > tr > td,
.table-bordered.customised-table > tfoot > tr > th,
.table-bordered.customised-table > thead > tr > td,
.table-bordered.customised-table > thead > tr > th {
  border: 1px solid #fff;
}
.table-bordered.customised-table > tbody > tr > td {
  background-color: #ffecdb;
}
.table-bordered.customised-table > tbody > tr > th {
  background-color: #ffd8b7;
  font-weight: 400;
  color: #000;
}

.service-box {
  height: 74.9px;
  display: flex;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}
.service-box > .service-no {
  background-color: #e5f8fc;
  flex-basis: 25%;
  justify-content: center;
  display: inherit;
  align-items: center;
}
.service-box > .service-name {
  background-color: #ffecdb;
  flex-basis: 75%;
  justify-content: center;
  display: inherit;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.service-box-link,
.service-box-link:hover,
.service-box-link:active {
  text-decoration: none;
  color: inherit;
}

.top-banner {
  /* background-image: url(../images/Von-Dohre-office-background-dark.jpg); */
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/homepage-banner-bg.jpg);
  opacity: 0.8;
}
.top-banner.homepage {
  opacity: 1;
  /* background-image: none; */
  background-color: blueviolet;
}
.top-banner.homepage .small-box {
  width: 317px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.53);
  background-color: #ffffff;
  display: inline-block;
}
.top-banner.homepage .small-box > .small-box-header {
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  text-align: center;
  border-bottom: 1px solid #2e3192;
  padding: 18px 0;
}
.top-banner.homepage .small-box > .small-box-content {
  text-align: center;
  padding: 25px 0 45px;
}
.top-banner.homepage .banner-text {
  text-shadow: 3px 3px 6px #555;
}
.top-banner.homepage .sub-banner-text {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 3px 3px 6px #555;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.btn.call-to-action-button {
  width: 201px;
  border: 0;
  height: 48px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ff9d00;
  font-size: 18px;
  font-weight: bold;
  color: #2e3192;
  background-image: none;
}
.marquee-wrapper {
  background-color: #fff9ef;
  padding: 15px 0 10px;
  overflow: hidden;
  background-color: #ffeed1; /* added by me custom*/
}
.banner-text {
  color: #fff;
}
.newsboard-wrapper {
  opacity: 0.85;
  background-color: #32337a;
  color: #fff;
  padding: 25px 15px;
}
.newsboard-wrapper > h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsboard-wrapper ol > li {
  display: flex;
  font-size: 16px;
  padding-bottom: 15px;
}
.newsboard-number {
  flex-basis: 12%;
}
.newsboard-description {
  flex-basis: 88%;
}
.newsboard-description .sub-description {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.31;
  padding-top: 8px;
}
.homepage-content .newsboard-section {
  background-color: #f9f9f9;
  padding: 26px 50px;
}
.newsboard-section > h4 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}
.newsboard-section-list {
  padding-left: 0;
  margin-top: 10px;
}
.newsboard-section-list > li {
  margin-bottom: 10px;
  font-size: 16px;
}

.login-form {
  margin-bottom: 30px;
}
.loan-product {
  opacity: 0.93;
  text-align: center;
  margin: 0 auto 30px;
  /* width: 320px; */
}
.loan-product figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.29;
  color: #000000;
  height: 54px;
  background-color: #ffd8b7;
}

.accounts-table.table > thead > tr > th {
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
.table-bordered.accounts-table > tbody > tr > td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.table > tbody > tr:first-child > td {
  padding-top: 8px;
}
.table-bordered.accounts-table > tbody > tr > td,
.table-bordered.accounts-table > tbody > tr > th,
.table-bordered.accounts-table > tfoot > tr > td,
.table-bordered.accounts-table > tfoot > tr > th,
.table-bordered.accounts-table > thead > tr > td,
.table-bordered.accounts-table > thead > tr > th {
  border: 4px solid #fff;
}
.table-bordered.accounts-table > tfoot > tr > td.no-pad {
  padding: 0;
}
.accounts-table.table .btn-primary {
  background-color: #ffd8b7;
  color: #2e3192;
  border: 0;
  width: 100%;
}
.accounts-title {
  background-color: #e5f8fc;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 20px;
}
.accounts-topic {
  background-color: #fff9ef;
  color: #000;
  box-shadow: none;
  border-radius: 0;
  /* border: 0; */
}
.accounts-time {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.newboard-section {
  background-color: #f9f9f9;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 50px;
  padding-right: 50px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.alphabetical-list {
  list-style-type: lower-alpha;
  padding-left: 15px;
}
.alphabetical-list li {
  margin-bottom: 10px;
}
h1 > small {
  font-size: 16px;
  color: #000;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.has-underline:after {
  content: " ";
  background-color: orange;
  width: 22%;
  height: 6px;
  display: block;
  margin-top: 10px;
}

.homepage-content > .row {margin-bottom: 45px;}
.homepage-content .big-text {
  /* font-size: 40px; */
  font-size: 34px;
  margin-top: 0;
}
.homepage-content .plain-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.homepage-content .medium-text {
  font-size: 20px;
}
.homepage-content .bigger-text {
  font-size: 63px;
}
.homepage-content .hot-links {
  border-left: 1px solid #2e3192;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.homepage-content .hot-links .btn {
  margin-top: 10px;
}
.homepage-content .choose-section-title {
  font-size: 34px;
}

.newsboard-section-list {
 padding-left: 18px;
}
.newsboard-section-list li {
  position: relative;
}
.newsboard-section-list li > .fa {
  position: absolute;
    left: -16px;
    top: 1px;
    font-weight: bold;
    font-size: 18px;
}
.company-name {
  font-size: 20px;
  margin-top: 12px;
  text-transform: uppercase;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .company-name {
    margin-left: 50px !important;
  }
}

.punch-line {
  background-color: #2e3192;
  color: #fff;
  /* text-transform: uppercase; */
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.punch-line > h4 {
  /* padding-left: 40px; */
  font-size: 32px;
  word-spacing: 5px;
  text-align: center;
  font-weight: 400;
}

.punch-line > h4 > span {
  font-weight: 700;
  text-transform: uppercase;
}