.navbar-nav > li {
  margin-right: 12px;
}
.content {
  padding: 0 15px;
}
.table-bordered.customised-table > tbody > tr > td,
.table-bordered.customised-table > tbody > tr > th,
.table-bordered.customised-table > tfoot > tr > td,
.table-bordered.customised-table > tfoot > tr > th,
.table-bordered.customised-table > thead > tr > td,
.table-bordered.customised-table > thead > tr > th {
  border: 1px solid #fff;
  padding: 20px 15px;
}
.top-banner {
  height: 367.8px;
}
.banner-text {
  margin-top: 180px;
  font-size: 5em;
}
.top-banner.homepage .banner-text {
  margin-top: 100px;
}
.top-banner.homepage {
  height: 348px;
}
.marquee-wrapper {
  margin-top: 160px;
  margin-bottom: 20px;
}

.mypage-header h1 {
  font-size: 35px;
}

.accounts-title {
  border-left: 4px solid #fff;
}
.accounts-time-wrapper {
  margin-top: 18px;
}
.logout-button {
  margin-top: 12px;
}
.homepage-content .choose-section-title {
  margin-top: 23%;
}
.company-name {
  margin-bottom: 0;
  margin-left: 20px;
}

.btn-header-right {
  position: absolute;
    right: 0;
    bottom: 38.5%;
}
.btn-sub-header-right {
  position: absolute;
  right: 0;
  top: 0;
}