
    .sub-header-contents,
    .sub-footer-contents {
      flex-wrap: wrap;
      justify-content: center;
    }
    .sub-footer-contents a {
      flex-basis: 50%;
      text-align: center;
    }
    .account-top-section {
      display: flex;
      flex-wrap: wrap;
    }
    .accounts-time-wrapper-container {
      order: 1;
      flex-grow: 1;
    }
    .accounts-time-wrapper {
      margin-top: 6px;
    }
    .accounts-topic-container {
      order: 3;
    }
    .logout-button-container {
      order: 2;
    }
    .logout-button {margin-bottom: 10px;}
    .logo {width: 98px;}
    .choose-section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .newsboard-section {margin-bottom: 15px;}

    .btn-sub-header-right {
      margin: 15px 0 20px;
    }
    .content {
      border-top: 1px solid #ddd;
      padding-top: 15px;
      margin-top: 10px;
    }