.account-id-details {
  text-align: right;
}
.top-banner.homepage .small-box,
.top-banner.homepage .banner-text {
  margin-top: 180px;
}
.homepage .small-box-container {
  text-align: right;
}
.top-banner.homepage {
  height: 628px;
}
