.top-banner {
  height: 207.8px;
}
.banner-text {
  margin-top: 100px;
  font-size: 36px;
}
.mypage-header h1 {
  font-size: 30px;
}
.account-id-details {
  text-align: center;
}

.top-banner.homepage .small-box {
  margin-top: 50px;
}
.homepage .small-box-container {
  text-align: center;
}
.marquee-wrapper {
  margin-top: 260px;
}
